.heading {
    font-size: 3rem;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

$linkColor: #0f0f0f;
$lightLinkColor: #f0f0f0;

.link {
    color: $linkColor;
    font-size: 1.5rem;

    &:hover {
        color: lighten($linkColor, 30%);
    }

    @media (prefers-color-scheme: dark) {
        & {
            color: $lightLinkColor;

            &:hover {
                color: darken($lightLinkColor, 30%);
            }
        }
    }
}
